<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.project.yang.m">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />

    <application
        android:name=".common.App"
        android:allowBackup="true"
        android:icon="@mipmap/icon_m"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="4d4e8f22ddffdf098a6082379b037ece"></meta-data>

        <activity android:name=".main.MainActivity">

            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".login.RegisterActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>
        <activity android:name=".personal.PersonalCenterActivity" />
        <activity android:name=".chart.ChartActivity" />
        <activity android:name=".other.OtherActivity" />
        <activity android:name=".personal.PersonalInfoActivity" />
        <activity android:name=".personal.PersonalSettingActivity" />
        <activity android:name=".login.LoginActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>
        <service android:name="com.amap.api.location.APSService"></service>
        <service android:name=".main.LocationService"></service>
    </application>
</manifest>